<div id="<%= dom_id staff %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= staff.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= staff.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Password:</strong>
    <%= staff.password %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gender:</strong>
    <%= staff.gender %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Birthday:</strong>
    <%= staff.birthday %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hometown:</strong>
    <%= staff.hometown %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Blood group:</strong>
    <%= staff.blood_group %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Designation:</strong>
    <%= staff.designation %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= staff.role %>
  </p>

</div>
