<div id="<%= dom_id office %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= office.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= office.category %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Division:</strong>
    <%= office.division %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">District:</strong>
    <%= office.district %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= office.address %>
  </p>

</div>
