<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="grid grid-cols-2 gap-4 mt-10">
      <% @designation.attributes.each do |column, value| %>
        <div class="font-medium text-gray-600"><%= column.humanize %></div>
        <div class="text-gray-800"><%= value %></div>
      <% end %>
    </div>

    <%= link_to designations_path, class: "rounded-lg mt-4 p-2 bg-gray-100 hover:bg-gray-200 inline-block text-gray-800 border border-gray-300 shadow-sm" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
      </svg>
    <% end %>
  </div>
</div>
